<div class="container">
    <div class="row mt-3">
        <h2>Главная</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Facere tempora porro sed temporibus quae amet hic quis et officiis, 
            alias magnam aspernatur quam quos error ipsa dicta, fugiat esse perferendis.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Facere tempora porro sed temporibus quae amet hic quis et officiis, 
            alias magnam aspernatur quam quos error ipsa dicta, fugiat esse perferendis.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Facere tempora porro sed temporibus quae amet hic quis et officiis, 
            alias magnam aspernatur quam quos error ipsa dicta, fugiat esse perferendis.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Facere tempora porro sed temporibus quae amet hic quis et officiis, 
            alias magnam aspernatur quam quos error ipsa dicta, fugiat esse perferendis.</p>    
    </div>
</div>