<div class="row">   
    <div class="col-md-1 pt-2">{{inCard.id}}</div>
    <div class="col-2 pt-2 pl-4">{{inCard.name}}</div>
    <div class="col-2 pt-2 pl-4">{{inCard.vendorcode}}</div>    
    <div class="col-2 pt-2 pl-4">{{inCard.price}}</div>
    <div class="col-2 pt-2 pl-4">{{inCard.capacity}}</div>
    <div class="row pl-10">
      <a [routerLink]="['/editcard', inCard.id]">
        <button class="btn btn-primary">Редактировать</button>
      </a>
      <button class="btn btn-danger m-2" (click)="onDeleteCard()">Удалить</button>
    </div>
  </div>
  
  