<div class="row">   
  <div class="col-md-1 pt-2">{{inMotherboard.id}}</div>
  <div class="col-2 pt-2 pl-4">{{inMotherboard.name}}</div>
  <div class="col-2 pt-2 pl-4">{{inMotherboard.vendorcode}}</div>    
  <div class="col-2 pt-2 pl-4">{{inMotherboard.price}}</div>
  <div class="col-2 pt-2 pl-4">{{inMotherboard.chipset}}</div>
  <div class="col-2 pt-2 pl-4">{{inMotherboard.formfactor}}</div>
  <div class="row pl-10">
    <a [routerLink]="['/edit', inMotherboard.id]">
      <button class="btn btn-primary">Редактировать</button>
    </a>
    <button class="btn btn-danger m-2" (click)="onDeleteMotherboard()">Удалить</button>
  </div>
</div>

